In [ ]:
def bank():
  print("the account balance of your account is 110 cr ")

In [ ]:
def car(b):
  if b >1:
    print(" okk first cheack your bank balance ")
    bank()
    print(" you can buy it")
  elif b  >5:
     print(" okk first cheack your bank balance ")
     bank()
     print(" you can buy it")
  elif b >10:
      print(" okk first cheack your bank balance ")
      bank()
      print(" you can't buy it")
      print("-------sorry------")

In [ ]:
lambo = int (input(" enter how much car you want to buy"))
car(lambo)

 enter how much car you want to buy2
 okk first cheack your bank balance
the account balance of your account is 110 cr
 you can buy it

# OPPS

In [ ]:
class school:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

    if self.grade == 'a':
      print(f"student {self.name} is in grade {self.grade}")
      print("no need to call his parents ")
    elif self.grade == 'b':
      print(f"student {self.name} is in grade {self.grade}")
      print("no need to call his parents ")
    elif self.grade == 'c':
      print(f"student {self.name} is in grade {self.grade}")
      print(" call his parents ")
    else :
      print(f"student {self.name} is in grade {self.grade}")
      print("call his parents ")

class certification(school):
  def __init__(self, name, age, grade):
    super().__init__(name, age, grade) # Call the parent class constructor

  def __str__(self):
    if self.grade == 'a':
      return f"student {self.name} is get google certifications"
    elif self.grade == 'b':
      return f"student {self.name} is get cisco certifications"
    elif self.grade == 'c':
      return f"student {self.name} is get  tcs  certifications"
    else:
      return f"student {self.name} does not have any certifications"


# Example usage:
name =input("enter your name")
age = int(input("enter your age"))
grade = input("enter your grade")
student1 = certification(name, age, grade)
print(student1)

enter your namewdwd
enter your age55
enter your graded
student wdwd is in grade d
call his parents
student wdwd does not have any certifications

# data structure in python :
  1) list
  2) tuple
  3) dictonary

In [ ]:
student = [1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100]

In [ ]:
print(student)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
student.append(5)

In [ ]:
student

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 5]

In [ ]:
student.extend([5])

In [ ]:
student

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 5, 5]

In [ ]:
student.pop(5)

6

In [ ]:
student.remove(5)

In [ ]:
student

[1, 2, 3, 4, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 5, 5]

In [ ]:
student.count(5)

2

In [ ]:
student.sort()

In [ ]:
student

[1, 2, 3, 4, 5, 5, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
student.reverse()

In [ ]:
student

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 5, 5, 4, 3, 2, 1]

In [ ]:
student[::2]

[100, 80, 60, 40, 20, 9, 7, 5, 3, 1]

In [ ]:
tupple = (1,2,2,2,22,2,2222,5,5,5,5,5)

In [ ]:
tupple

(1, 2, 2, 2, 22, 2, 2222, 5, 5, 5, 5, 5)

In [ ]:
tupple[::2]

(1, 2, 22, 2222, 5, 5)

In [ ]:
tupple[1:3]

(2, 2)

In [ ]:
tupple.count(2)

4

In [ ]:
tupple.index(2)

1

In [ ]:
print(sorted(tupple))

[1, 2, 2, 2, 2, 5, 5, 5, 5, 5, 22, 2222]

In [ ]:
setss = {1,2,3,4,5,6,7,8,9,10,2,3}

In [ ]:
setss

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

file handling

In [ ]:
f =open("f.txt" , "w")
c =f.write('''hello worl my name is atul kumar shahi i am a ai ml
developer and i a data expert ''')
print(c)
f.close()

83

In [ ]:
try :
   with open("f.txt" , "r") as f:
      print(f.read())
except :
  print("error")
finally:
  print("finally")

hello worl my name is atul kumar shahi i am a ai ml
developer and i a data expert
finally

In [ ]:
try :
    name = "Alice"
    age = 30
    city = "New York"

    with open("info.txt", "w") as f:
      f.write(f"Name: {name}\n")
      f.write(f"Age: {age}\n")
      f.write(f"City: {city}\n")

    print("File 'info.txt' created with variable content.")
except Exception as e:
    print(f"An error occurred: {e}")

File 'info.txt' created with variable content.

In [ ]:
dic = {
  "name": "Atul",
  "age": 19,
  "skills": ["Python", "AI", "ML"],
  "is_student": "true"
}
print(dic)

{'name': 'Atul', 'age': 19, 'skills': ['Python', 'AI', 'ML'], 'is_student': 'true'}

# converting python dic into json using the dumping method of json module

In [ ]:
import json

In [ ]:
import json

dic = {
  "name": "Atul",
  "age": 19,
  "skills": ["Python", "AI", "ML"],
  "is_student": True
}

with open("data.json", "w") as f:
  json.dump(dic, f, indent=4)

print("Dictionary successfully dumped to data.json")

Dictionary successfully dumped to data.json

In [ ]:
json_string =json.dumps(dic)

In [ ]:
print(json_string)

{"name": "Atul", "age": 19, "skills": ["Python", "AI", "ML"], "is_student": true}

In [ ]:
with open("data.json","a") as f:
  json.dump(dic, f, indent=4)

In [ ]:
json_string =json.dumps(dic)

In [ ]:
python_obj = json.loads(json_string)
print(python_obj)

{'name': 'Atul', 'age': 19, 'skills': ['Python', 'AI', 'ML'], 'is_student': True}

In [ ]:
# JSON string
json_string = '{"name": "Atul", "age": 19, "is_student": true}'

# Convert to Python dict
person_dict = json.loads(json_string)

print(person_dict)  # Atul
print(type(person_dict))    # dict

{'name': 'Atul', 'age': 19, 'is_student': True}
<class 'dict'>

In [ ]:
lists = [x**2 for x in range(10)]

In [ ]:
lists

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
lists_new  = ["even" if x%2 ==0 else "odd" for x in range(10)]

In [ ]:
lists_new

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
pairs = [(x,y) for x in range(3) for y in range(3)]

In [ ]:
pairs

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [ ]:
pairs.sort()

In [ ]:
pairs

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [ ]:
matrix = [[1,2] , [2,3], [4,5]]
linear_matrix = [nums for row in matrix for nums in row]

In [ ]:
linear_matrix

[1, 2, 2, 3, 4, 5]

In [ ]:
sets_com = { x for x in [1,2,3,4,5,6,7,8,9,10]}
print(sets_com)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
dictionary = {x:x**2 for x in range(10)}

In [ ]:
dictionary

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# lamda function
     # lamda arguments:expression

In [ ]:
sq = lambda x :x**2
print(sq(4))

16

In [ ]:
number = [1, 2, 2, 3, 4, 5]

In [ ]:
squ = list(map(lambda x :x**2 ,number))

In [ ]:
squ

[1, 4, 4, 9, 16, 25]

In [ ]:
even = list(filter(lambda x :x%2==0 ,number))

In [ ]:
even

[2, 2, 4]

In [ ]:
from functools import reduce
product = reduce(lambda x,y :x*y ,number)
product

240

In [ ]:
add = lambda a, b: a + b
result = add(5, 3)
print(result)

8

# Getter & Setter

In [ ]:
class person :
  def __init__(self, name):
    self._name = name
  def get_name(self):
    return self._name
  def set_name(self, name):
    if len(name) > 0:
      self._name = name
    else:
      print("name cannot be empty")

In [ ]:
p = person("Initial Name") # Create an instance of the person class
p.set_name("Atul") # Call the set_name method on the instance
print(p.get_name()) # You can also call get_name to see the updated name

Atul

In [ ]:
class person :
  def __init__(self, name):
    self._name = name
  @property
  def name(self):
    return self._name
  @name.setter
  def name(self, name):
    if len(name) > 0:
      self._name = name
    else:
      print("name cannot be empty")

In [ ]:
a = person("atul")

In [ ]:
a.name = "ncjdsvh"

In [ ]:
print(a.name)

ncjdsvh

In [ ]:
class add :
  @staticmethod
  def add(a,b):
    return a+b
  @staticmethod
  def sub(a,b):
    return a-b

In [ ]:
result = add.add(2,5)
print(result)

7

In [5]:
class vote :

  @staticmethod
  def vote_age(age):
    if age >= 18:
      print("you are eligible to vote")
    else:
      print("you are not eligible to vote")

In [7]:
voter_data = vote.vote_age(19)

you are eligible to vote